.menu {
    /* padding: 48px 0; */
    background-color: rgba($primary-color, 0.05);
    &__wrapper { 
        padding: 0 58px;
    }
    &__swiper {
        padding: 48px 0;
        width: auto;
        height: auto;
        overflow: hidden;
        .slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $background-color;
            box-shadow: 0px 23px 34px rgba(35, 57, 55, 0.01);
            border-radius: 25px;
            &__title {
                margin-top: 45px;
            }
            &__text {
                text-align: center;
                margin-top: 25px;
                padding: 0 15px;
                max-width: 224px;
            }
            &__btn {
                margin: 45px 0;
            }
        }
    }
}